@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto&family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Courgette, sans-serif;
}

body {
background-color: #778899;
}

#container {
   align-items: center;
   text-align: center;
}

#question {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

h1 {
    color: whitesmoke;
    margin-top: 350px;
    font-size: 50px;
}

h2 {
    font-size: 35px;
    margin-top: 12px;
}

.btn {
    font-family: Arial, sans-serif;
    align-self: center;
    font-size: 25px;
    width: 200px;
}

.btn:hover {
    background-color: #DAA520;
}

#next-btn {
    margin-top: 20px; 
    font-size: 18px;
    width: 100px;
}